<div class="schedaTecnica">
  <div class="row">
    <div class="col-12 col-lg-6 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 ">
          <div class="caratpic left"><img class="img-fluid" src="/img/icone/batteria.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8 ">
          <div class="titleCar">Batteria</div>
          <div class="caratteristica batteria"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 ">
          <div class="caratpic left"><img class="img-fluid" src="/img/icone/distanza.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8 ">
          <div class="titleCar">Distanza</div>
          <div class="caratteristica distanza"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4">
          <div class="caratpic left"><img class="img-fluid" src="/img/icone/controller.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
          <div class="titleCar">Controller</div>
          <div class="caratteristica controller"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 left">
          <div class="caratpic"><img class="img-fluid" src="/img/icone/dimensioni.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
          <div class="titleCar">Dimensioni</div>
          <div class="caratteristica dimensioni"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 left">
          <div class="caratpic"><img class="img-fluid" src="/img/icone/autonomia.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
            <div class="titleCar">Autonomia</div>
          <div class="caratteristica autonomia"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 left">
          <div class="caratpic"><img class="img-fluid" src="/img/icone/fotocamera.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
            <div class="titleCar">Risoluzione videocamera</div>
          <div class="caratteristica risoluzione"></div>
        </div>
      </div>
    </div>
  </div>
</div>
