<div class="row">
  <div class="col-lg-6">
    <form class="formDashboard admindivdashl fontForm">
      <div class="form-group">
        <label for="batteria">Batteria</label>
        <input type="text" class="form-control" id="batteriaDrone" aria-describedby="" placeholder="caratteristiche batteria">
      </div>
      <div class="form-group">
        <label for="display">Dimensioni</label>
        <input type="text" class="form-control" id="dimensioneDrone" aria-describedby="" placeholder="Dimensioni drone">
      </div>
      <div class="form-group">
        <label for="memoria">Distanza</label>
        <input type="text" class="form-control" id="distanzaDrone" aria-describedby="" placeholder="Distanza">
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form class="formDashboard admindivdashr fontForm">
      <div class="form-group">
        <label for="ram">Autonomia</label>
        <input type="text" class="form-control" id="autonomiaDrone" aria-describedby="" placeholder="Auntonomia drone">
      </div>
      <div class="form-group">
        <label for="rete">Controller</label>
        <input type="text" class="form-control" id="controllerDrone" aria-describedby="" placeholder="Controller drone">
      </div>
      <div class="form-group">
        <label for="so">Risoluzione</label>
        <input type="text" class="form-control" id="risoluzioneDrone" aria-describedby="" placeholder="Risoluzione">
      </div>
    </form>
  </div>
</div>
