<div class="row">
  <div class="col-lg-6">
    <form class="formDashboard admindivdashl fontForm">
      <div class="form-group">
        <label for="batteria">Batteria</label>
        <input type="text" class="form-control" id="batteriaSmart" aria-describedby="" placeholder="caratteristiche batteria">
      </div>
      <div class="form-group">
        <label for="display">Display</label>
        <input type="text" class="form-control" id="displaySmart" aria-describedby="" placeholder="caratteristiche display">
      </div>
      <div class="form-group">
        <label for="memoria">Memoria</label>
        <input type="text" class="form-control" id="memoriaSmart" aria-describedby="" placeholder="caratteristiche memoria">
      </div>
      <div class="form-group">
        <label for="processore">Processore</label>
        <input type="text" class="form-control" id="processoreSmart" aria-describedby="" placeholder="caratteristiche processore">
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form class="formDashboard admindivdashr fontForm">
      <div class="form-group">
        <label for="fotocamera">Fotocamera</label>
        <input type="text" class="form-control" id="fotocameraSmart" aria-describedby="" placeholder="caratteristiche fotocamera">
      </div>
      <div class="form-group">
        <label for="ram">Ram</label>
        <input type="text" class="form-control" id="ramSmart" aria-describedby="" placeholder="caratteristiche Ram">
      </div>
      <div class="form-group">
        <label for="rete">Rete</label>
        <input type="text" class="form-control" id="reteSmart" aria-describedby="" placeholder="caratteristiche rete">
      </div>
      <div class="form-group">
        <label for="so">Sistema operativo</label>
        <input type="text" class="form-control" id="soSmart" aria-describedby="" placeholder="caratteristiche sistema operativo">
      </div>
    </form>
  </div>
</div>
