<footer class="footer text-center">
  <div class="effect egeon">
    <h2 class="text-center text-uppercase text-white">SOCIAL</h2>
    <div class="buttons">
      <a href="https://t.me/shopezhub" onclick="window.open(this.href);return false" class="fb" title="Shopezhub"><i class="fab fa-telegram-plane" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/shopezhub/?hl=it" onclick="window.open(this.href);return false" class="insta" title="@Shopezhub"><i class="fab fa-instagram" aria-hidden="true"></i></a>
    </div>
  </div>
</footer>


<div class="copyright py-4 text-center text-white">
  <div class="container">
    <small>
      <a href="/terminiservizio">Termini del servizio</a>
    </small>
    <div><small>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></div>
    <small>Copyright &copy; www.shopezhub.com 2018
  </div>
</div>
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
