<div class="container">
  <div class="titolopag">
    Novità
  </div>
  <div class="row">
    <div class="col-md-12 col-lg-5">
      <div id="primanews" class="featured-article">
        <a class="link"href="">
          <img class ="immagine img-fluid" src="" alt="" class="thumb">
        </a>
        <div class="block-title">
          <h2 class="titolo"></h2>
          <p class="by-author data"></p>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-lg-7">
      <ul class="media-list main-list">
        <li id="secondanews" class="media">
          <a class="pull-left link" href="">
            <img class="media-object immagine" src="" alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading titolo"></h4>
            <p class="by-author data"></p>
          </div>
        </li>
        <li id="terzanews" class="media">
          <a class="pull-left link" href="">
            <img class="media-object immagine" src="" alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading titolo"></h4>
            <p class="by-author data"></p>
          </div>
        </li>
        <li id="quartanews" class="media">
          <a class="pull-left link" href="">
            <img class="media-object immagine" src="" alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading titolo"></h4>
            <p class="by-author data"></p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
