<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SHOPEZ</title>
    <link rel="icon" href="/img/logo/Icona.png" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/css/social.css" rel="stylesheet">
    <link href="/css/freelancer.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/cssSviluppo.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <% include ../views/nav %>
    <header class="masthead bg-fotocamere text-white text-center">
      <div class="container"></div>
    </header>
    <section class="portfolio" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-4">
            <div id="medio" class="categoria">
              <a href="">
                <img class="img-fluid" src="/img/fasce/fasciamedia.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div id="top" class="categoria">
              <a href="">
                <img class="img-fluid" src="/img/fasce/fasciaalta.svg" alt="">
              </a>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div id="basso" class="categoria">
              <a href="">
                <img class="img-fluid" src="/img/fasce/fasciabassa.svg" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <% include ../views/footer %>
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/Sviluppo.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <script src="/js/freelancer.min.js"></script>
  </body>
</html>
