<div class="row">
  <div class="col-lg-6">
    <form class="formDashboard admindivdashl fontForm">
      <div class="form-group">
        <label for="peso">Peso</label>
        <input type="text" class="form-control" id="pesoFoto" aria-describedby="" placeholder="caratteristiche peso">
      </div>
      <div class="form-group">
        <label for="risoluzione">Risoluzione</label>
        <input type="text" class="form-control" id="risoluzioneFoto" aria-describedby="" placeholder="risoluzione">
      </div>
      <div class="form-group">
        <label for="zoom">Zoom ottico</label>
        <input type="text" class="form-control" id="zoomFoto" aria-describedby="" placeholder="zoom fotcamera">
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form class="formDashboard admindivdashr fontForm">
      <div class="form-group">
        <label for="memoria">Memoria</label>
        <input type="text" class="form-control" id="memoriaFoto" aria-describedby="" placeholder="memoria fotocamera">
      </div>
      <div class="form-group">
        <label for="sensore">Sensore ottico</label>
        <input type="text" class="form-control" id="sensoreFoto" aria-describedby="" placeholder="sensore ottico fotocamera">
      </div>
      <div class="form-group">
        <label for="display">Display</label>
        <input type="text" class="form-control" id="displayFoto" aria-describedby="" placeholder="display fotocamera">
      </div>
    </form>
  </div>
</div>
