<div class="row">
  <div class="col-lg-6">
    <form class="formDashboard admindivdashl fontForm">
      <div class="form-group">
        <label for="batteriaPc">Batteria</label>
        <input type="text" class="form-control" id="batteriaPc" aria-describedby="" placeholder="caratteristiche batteria">
      </div>
      <div class="form-group">
        <label for="monitorPc">Monitor</label>
        <input type="text" class="form-control" id="monitorPc" aria-describedby="" placeholder="caratteristiche monitor">
      </div>
      <div class="form-group">
        <label for="memoriaPc">Memoria</label>
        <input type="text" class="form-control" id="memoriaPc" aria-describedby="" placeholder="caratteristiche memoria">
      </div>
      <div class="form-group">
        <label for="processorePc">Processore</label>
        <input type="text" class="form-control" id="processorePc" aria-describedby="" placeholder="caratteristiche processore">
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form class="formDashboard admindivdashr fontForm">
      <div class="form-group">
        <label for="webcamPc">Webcam</label>
        <input type="text" class="form-control" id="webcamPc" aria-describedby="" placeholder="caratteristiche fotocamera">
      </div>
      <div class="form-group">
        <label for="ramPc">Ram</label>
        <input type="text" class="form-control" id="ramPc" aria-describedby="" placeholder="caratteristiche ram">
      </div>
      <div class="form-group">
        <label for="schedavideoPc">Scheda video</label>
        <input type="text" class="form-control" id="schedavideoPc" aria-describedby="" placeholder="caratteristiche rete">
      </div>
      <div class="form-group">
        <label for="sistemaoperativoPc">Sistema operativo</label>
        <input type="text" class="form-control" id="sistemaoperativoPc" aria-describedby="" placeholder="caratteristiche sistema operativo">
      </div>
    </form>
  </div>
</div>
