<div class="row">
  <div class="col-lg-6">
    <form class="formDashboard admindivdashl fontForm">
      <div class="form-group">
        <label for="pesoTv">Peso</label>
        <input type="text" class="form-control" id="pesoTv" aria-describedby="" placeholder="peso tv">
      </div>
      <div class="form-group">
        <label for="dimensioneTv">Dimensioni</label>
        <input type="text" class="form-control" id="dimensioniTv" aria-describedby="" placeholder="Dimensioni tv">
      </div>
    </form>
  </div>
  <div class="col-lg-6">
    <form class="formDashboard admindivdashr fontForm">
      <div class="form-group">
        <label for="tecnologiaTv">Tecnologia</label>
        <input type="text" class="form-control" id="tecnologiaTv" aria-describedby="" placeholder="Tecnologia tv">
      </div>
      <div class="form-group">
        <label for="schermoTv">Schermo</label>
        <input type="text" class="form-control" id="schermoTv" aria-describedby="" placeholder="schermo tv">
      </div>
    </form>
  </div>
</div>
