<footer class="footer text-center">

  <div class="effect egeon">
    <h2 class="text-center text-uppercase text-white">SOCIAL</h2>
    <div class="buttons">
      <a href="#" class="fb" title="Shopezhub"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      <!--a href="#" class="tw" title="Join us on Twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
          <a href="#" class="g-plus" title="Join us on Google+"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a href="#" class="dribbble" title="Join us on Dribbble"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
          <a href="#" class="vimeo" title="Join us on Vimeo"><i class="fa fa-vimeo" aria-hidden="true"></i></a>
          <a href="#" class="pinterest" title="Join us on Pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a-->
      <a href="https://www.instagram.com/shopezhub/?hl=it" onclick="window.open(this.href);return false" class="insta" title="@Shopezhub"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <!--a href="#" class="in" title="Join us on Linked In"><i class="fa fa-linkedin" aria-hidden="true"></i></a-->
    </div>
  </div>


</footer>


<div class="copyright py-4 text-center text-white">
  <div class="container">
    <div><small>Icons made by <a href="https://www.flaticon.com/authors/maxim-basinski" title="Maxim Basinski">Maxim Basinski</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></small></div>
    <small>Copyright &copy; www.shopezhub.com 2018</small>
  </div>
</div>
