<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a id="logonav" class="navbar-brand js-scroll-trigger" href="/home">
        <svg class="d-none d-sm-block" width="300" height="60">
          <image xlink:href="/img/logo/Logofull.svg" src="/img/logo/logonav.png" width="300" height="60" />
        </svg>
        <svg  class="d-block d-sm-none"  width="150" height="60">
          <image xlink:href="/img/logo/Logomobile.svg" src="/img/logo/logonavmobile.png" width="150" height="60" />
        </svg>
      </a>
    <button id="buttonMenuSmart"class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fa fa-bars"></i>
      </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="dropdown nav-item mx-0 mx-lg-1">
          <a class="nav-link rounded js-scroll-trigger dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="categorieMenu" aria-haspopup="true" aria-expanded="false">Recensioni</a>
          <div id="categorieMenu"class="dropdown">
            <div class="dropdown-content">
              <a href="/home/migliorismartphone">Smartphone</a>
              <a href="/home/miglioridroni">Droni</a>
              <a href="/home/migliorifotocamere">Fotocamere</a>
              <a href="/home/miglioritablet">Tablet</a>
              <a href="/home/miglioripcportatili">Pc portatili</a>
              <a href="/home/miglioritvsmart">SmartTV</a>
            </div>
          </div>
        </li>
        <li class="dropdown nav-item mx-0 mx-lg-1">
          <a class="nav-link rounded js-scroll-trigger dropdown-toggle" href="" id="navbarDropdownMenuLink1" data-toggle="guideMenu" aria-haspopup="true" aria-expanded="false">Guide all'acquisto</a>
          <div id="guideMenu"class="dropdown">
            <div class="dropdown-content">
              <a href="/home/guideacquistotech">Tecnologia</a>
              <a href="#">Salute</a>
              <a href="#">Finanza</a>
            </div>
          </div>
        </li>
        <li class="nav-item mx-0 mx-lg-1">
          <a class="nav-link p/y-3 px-0 px-lg-3 rounded js-scroll-trigger" href="/home/contatti">Contatti</a>
        </li>
        <!--<li class="dropdown nav-item mx-0 mx-lg-1">
            <a class="nav-link rounded js-scroll-trigger dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Lingua</a>
            <div class="dropdown">
              <div class="dropdown-content">
                <a href="#">ITA</a>
                <a href="#">ENG</a>
              </div>
            </div>
          </li-->
      </ul>
    </div>
  </div>
</nav>
