<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pc portatili</title>
    <link rel="icon" href="/img/logo/Icona.png" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/css/social.css" rel="stylesheet">
    <link href="/css/freelancer.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/cssSviluppo.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <% include ../views/nav %>
    <header class="masthead bg-pc text-white text-center">
      <div class="container">
          <a class="backLabel" href="/home/miglioripc"><i class="fas fa-arrow-left"></i>  INDIETRO</a>
      </div>
    </header>
    <div class="container">
      <div class="titolopag">
        <h1>PC PORTATILI <img class="img-fluid" style="padding-bottom:0.16em;"width="40px" height="42px" src="/img/fasce/fasciabassa.svg" alt=""></h1>
      </div>
      <div id="primariga" class="row">
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="subtitolo">
              <h5 class="titolo"></h5>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="picture">
              <img class="img-fluid imgart immagine" src="" alt="">
            </div>
          </div>
          <div class="row">
            <div class="acquista">
              <a class="button link" href="" onclick="window.open(this.href);return false" role="button">
                      <span><b>ACQUISTA</b></span>
                      <div class="icon">
                        <i class=""><img id="amazon" class="img-fluid"src="/img/icone/amazon-icon.svg" width=50px height=50px></i>
                        <i class="fa fa-check"></i>
                      </div>
                    </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="subtitolo">
              <h5>Recensione</h5>
              <hr>
            </div>
            <div class="recensione pre-scrollable">
            </div>
          </div>
          <div class="row">
            <div class="subtitolo">
              <h5>Scheda Tecnica</h5>
              <hr>
            </div>
            <% include ../views/schedeTecniche/schedaPc %>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 near">
              <div class="pro">
                <b>PRO</b>
              </div>
              <div class="proContent">
                <ul class="proUl proDin">

                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 near">
              <div class="contro">
                <b>CONTRO</b>
              </div>
              <div class="controContent">
                <ul class="controUl controDin">

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="secondariga" class="row">
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="subtitolo">
              <h5 class="titolo"></h5>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="picture">
              <img class="img-fluid imgart immagine" src="" alt="">
            </div>
          </div>
          <div class="row">
            <div class="acquista">
              <a class="button link" href="" onclick="window.open(this.href);return false" role="button">
                      <span><b>ACQUISTA</b></span>
                      <div class="icon">
                        <i class=""><img id="amazon" class="img-fluid"src="/img/icone/amazon-icon.svg" width=50px height=50px></i>
                        <i class="fa fa-check"></i>
                      </div>
                    </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="subtitolo">
              <h5>Recensione</h5>
              <hr>
            </div>
            <div class="recensione pre-scrollable">
            </div>
          </div>
          <div class="row">
            <div class="subtitolo">
              <h5>Scheda Tecnica</h5>
              <hr>
            </div>
            <% include ../views/schedeTecniche/schedaPc %>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 near">
              <div class="pro">
                <b>PRO</b>
              </div>
              <div class="proContent">
                <ul class="proUl proDin">

                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 near">
              <div class="contro">
                <b>CONTRO</b>
              </div>
              <div class="controContent">
                <ul class="controUl controDin">

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="terzariga" class="row">
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="subtitolo">
              <h5 class="titolo"></h5>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="picture">
              <img class="img-fluid imgart immagine" src="" alt="">
            </div>
          </div>
          <div class="row">
            <div class="acquista">
              <a class="button link" href="" onclick="window.open(this.href);return false" role="button">
                      <span><b>ACQUISTA</b></span>
                      <div class="icon">
                        <i class=""><img id="amazon" class="img-fluid"src="/img/icone/amazon-icon.svg" width=50px height=50px></i>
                        <i class="fa fa-check"></i>
                      </div>
                    </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="subtitolo">
              <h5>Recensione</h5>
              <hr>
            </div>
            <div class="recensione pre-scrollable">
            </div>
          </div>
          <div class="row">
            <div class="subtitolo">
              <h5>Scheda Tecnica</h5>
              <hr>
            </div>
            <% include ../views/schedeTecniche/schedaPc %>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 near">
              <div class="pro">
                <b>PRO</b>
              </div>
              <div class="proContent">
                <ul class="proUl proDin">

                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 near">
              <div class="contro">
                <b>CONTRO</b>
              </div>
              <div class="controContent">
                <ul class="controUl controDin">

                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="quartariga" class="row">
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="subtitolo">
              <h5 class="titolo"></h5>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="picture">
              <img class="img-fluid imgart immagine" src="" alt="">
            </div>
          </div>
          <div class="row">
            <div class="acquista">
              <a class="button link" href="" onclick="window.open(this.href);return false" role="button">
                      <span><b>ACQUISTA</b></span>
                      <div class="icon">
                        <i class=""><img id="amazon" class="img-fluid"src="/img/icone/amazon-icon.svg" width=50px height=50px></i>
                        <i class="fa fa-check"></i>
                      </div>
                    </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="subtitolo">
              <h5>Recensione</h5>
              <hr>
            </div>
            <div class="recensione pre-scrollable">
            </div>
          </div>
          <div class="row">
            <div class="subtitolo">
              <h5>Scheda Tecnica</h5>
              <hr>
            </div>
            <% include ../views/schedeTecniche/schedaPc %>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 near">
              <div class="pro">
                <b>PRO</b>
              </div>
              <div class="proContent">
                <ul class="proUl proDin">

                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 near">
              <div class="contro">
                <b>CONTRO</b>
              </div>
              <div class="controContent">
                <ul class="controUl controDin">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="quintariga" class="row">
        <div class="col-lg-4 col-md-12">
          <div class="row">
            <div class="subtitolo">
              <h5 class="titolo"></h5>
              <hr>
            </div>
          </div>
          <div class="row">
            <div class="picture">
              <img class="img-fluid imgart immagine" src="" alt="">
            </div>
          </div>
          <div class="row">
            <div class="acquista">
              <a class="button link" href="" role="button">
                      <span><b>ACQUISTA</b></span>
                      <div class="icon">
                        <i class=""><img id="amazon" class="img-fluid"src="/img/icone/amazon-icon.svg" width=50px height=50px></i>
                        <i class="fa fa-check"></i>
                      </div>
                    </a>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="row">
            <div class="subtitolo">
              <h5>Recensione</h5>
              <hr>
            </div>
            <div class="recensione pre-scrollable">
            </div>
          </div>
          <div class="row">
            <div class="subtitolo">
              <h5>Scheda Tecnica</h5>
              <hr>
            </div>
            <% include ../views/schedeTecniche/schedaPc %>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6 near">
              <div class="pro">
                <b>PRO</b>
              </div>
              <div class="proContent">
                <ul class="proUl proDin">
                </ul>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 near">
              <div class="contro">
                <b>CONTRO</b>
              </div>
              <div class="controContent">
                <ul class="controUl controDin">
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% include ../views/footer %>
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/Sviluppo.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <script src="/js/freelancer.min.js"></script>
    <script src="/js/pcBassi.js"></script>
  </body>
</html>
