<!DOCTYPE html>
<html lang="it">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Smartphone</title>
    <link rel="icon" href="/img/logo/Icona.png" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="/vendor/magnific-popup/magnific-popup.css" rel="stylesheet" type="text/css">
    <link href="/css/social.css" rel="stylesheet">
    <link href="/css/freelancer.min.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/cssSviluppo.css" rel="stylesheet">
  </head>
  <body id="page-top">
    <% include ../views/nav %>
    <header class="masthead bg-smartphone text-white text-center">
      <div class="container">
          <a class="backLabel" href="/home"><i class="fas fa-arrow-left"></i>  HOME</a>
      </div>
    </header>
    <div class="container">
      <div class="titolopag">
        <h1>Terms of service</h1>
      </div>
      <div class="row">
        <h5>1. TERMS</h5>
        <p class="introduzioneGuida">By accessing this website, you are agreeing to be bound by these web site Terms and Conditions of Use, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The materials contained in this website are protected by applicable copyright and trademark law.</p>
      </div>
      <div class="row">
        <h5>2. USE LICENSE</h5>
        <p class="introduzioneGuida">Permission is granted to temporarily download one copy of the materials (information or software) shopezhub website for personal, non-commercial transitory viewing only. This is the grant of a license, not a transfer of title, and under this license you may not:
modify or copy the materials;
use the materials for any commercial purpose, or for any public display (commercial or non-commercial);
attempt to decompile or reverse engineer any software contained on shopezhub website;
remove any copyright or other proprietary notations from the materials; or
transfer the materials to another person or “mirror” the materials on any other server.
This license shall automatically terminate if you violate any of these restrictions and may be terminated by shopezhub at any time. Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format
</p>
      </div>
      <div class="row">
        <h5>3. DISCLAIMER</h5>
        <p class="introduzioneGuida">The materials on shopezhub’s web site are provided “as is”. shopezhub makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Further, shopezhub does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its Internet web site or otherwise relating to such materials or on any sites linked to this site.</p>
      </div>
      <div class="row">
        <h5>4. LIMITATIONS</h5>
        <p class="introduzioneGuida">In no event shall shopezhub or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the materials on shopezhub’s Internet site, even if shopezhub or a shopezhub authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
      </div>
      <div class="row">
        <h5>5. REVISIONS AND ERRATA</h5>
        <p class="introduzioneGuida">The materials appearing on shopezhub’s web site could include technical, typographical, or photographic errors. shopezhub does not warrant that any of the materials on its web site are accurate, complete, or current. shopezhub may make changes to the materials contained on its web site at any time without notice. shopezhub does not, however, make any commitment to update the materials.</p>
      </div>
      <div class="row">
        <h5>6. LINKS</h5>
        <p class="introduzioneGuida">shopezhub has not reviewed all of the sites linked to its Internet web site and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by shopezhub of the site. Use of any such linked website is at the user’s own risk.</p>
      </div>
      <div class="row">
        <h5>7. SITE TERMS OF USE MODIFICATIONS</h5>
        <p class="introduzioneGuida">shopezhub may revise these terms of use for its web site at any time without notice. By using this website you are agreeing to be bound by the then-current version of these Terms and Conditions of Use.</p>
      </div>
      <div class="row">
        <h5>8. GOVERNING LAW</h5>
        <p class="introduzioneGuida">Any claim relating to shopezhub’s web site shall be governed by the laws of the State of shopezhub.com without regard to its conflict of law provisions.</p>
      </div>
    </div>
    <% include ../views/footer %>
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="/vendor/magnific-popup/jquery.magnific-popup.min.js"></script>
    <script src="/js/Sviluppo.js"></script>
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>
    <script src="/js/freelancer.min.js"></script>
    <script src="/js/smartphoneTop.js"></script>
  </body>
</html>
