<div class="schedaTecnica">
  <div class="row">
    <div class="col-12 col-lg-6 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 ">
          <div class="caratpic left"><img class="img-fluid" src="/img/icone/display.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8 ">
          <div class="titleCar">Display</div>
          <div class="caratteristica display"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 ">
          <div class="caratpic left"><img class="img-fluid" src="/img/icone/peso.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8 ">
          <div class="titleCar">Peso</div>
          <div class="caratteristica peso"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4">
          <div class="caratpic left"><img class="img-fluid" src="/img/icone/risoluzione.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
          <div class="titleCar">Risoluzione</div>
          <div class="caratteristica risoluzione"></div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6 col-md-6 col-sm-6">
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 left">
          <div class="caratpic"><img class="img-fluid" src="/img/icone/zoomottico.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
          <div class="titleCar">Zoom ottico</div>
          <div class="caratteristica zoom"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 left">
          <div class="caratpic"><img class="img-fluid" src="/img/icone/fotocamera.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
            <div class="titleCar">Sensore ottico</div>
          <div class="caratteristica sensore"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-4 col-lg-3 col-md-4 col-sm-4 left">
          <div class="caratpic"><img class="img-fluid" src="/img/icone/memoria.svg" alt=""></div>
        </div>
        <div class="col-8 col-lg-9 col-md-8 col-sm-8">
            <div class="titleCar">Memoria</div>
          <div class="caratteristica memoria"></div>
        </div>
      </div>
    </div>
  </div>
</div>
