//variables
$basic-dark-color: #212121;
$basic-light-color: #fff;
$fb-color: #3b5998;
$tw-color: #00aced;
$g-plus: #dd4b39;
$dribbble: #ea4c89;
$pinterest: #cb2027;
$insta: #bc2a8d;
$in: #007bb6;
$vimeo: #1ab7ea;
$border-radius: 10px;
$font-size: 25px;

/*common styles !!!YOU DON'T NEED THEM */


.effect {
  width: 100%;
  padding: 50px 0px 70px 0px;





  .buttons {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    height:64px;
  }

  a {

    &:last-child {
      margin-right: 0px;
    }
  }
}

/*common link styles !!!YOU NEED THEM*/
.effect {
  /*display: flex; !!!uncomment this line !!!*/

  a {
    text-decoration: none !important;
    color: $basic-light-color;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
    margin-right: 20px;
    font-size: $font-size;
    overflow: hidden;
    position: relative;

    i {
      position: relative;
      z-index: 3;
    }

    &.fb {
      background-color: $fb-color;
    }

    &.tw {
      background-color: $tw-color;
    }

    &.g-plus {
      background-color: $g-plus;
    }

    &.dribbble {
      background-color: $dribbble;
    }

    &.pinterest {
      background-color: $pinterest;
    }

    &.insta {
      background-color: $insta;
    }

    &.in {
      background-color: $in;
    }

    &.vimeo {
      background-color: $vimeo;
    }
  }
}

/* aeneas effect */

.effect.aeneas {

  a {
    transition: transform 0.4s linear 0s, border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;

    i {
      transition: transform 0.4s linear 0s;
    }

    &:hover {
      transform: rotate(360deg);
      border-radius: 50%;

      i {
        transform: rotate(-360deg);
      }
    }
  }
}

/* jaques effect */
.effect.jaques {

  a {
    transition: border-top-left-radius 0.1s linear 0s, border-top-right-radius 0.1s linear 0.1s, border-bottom-right-radius 0.1s linear 0.2s, border-bottom-left-radius 0.1s linear 0.3s;

    &:hover {
      border-radius: 50%;
    }
  }
}

/* egeon effect */
.effect.egeon {

  a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0.2s;

    i {
      transition: transform 0.2s linear 0s;
    }

    &:hover {
      transform: rotate(-90deg);
      border-top-left-radius: 50%;
      border-top-right-radius: 50%;
      border-bottom-left-radius: 50%;

      i {
        transform: rotate(90deg);
      }
    }
  }
}

/* claudio effect */

.effect.claudio {

  a {
    transition: transform 0.2s linear 0s, border-radius 0.2s linear 0s;

    &:hover {
      transform: scale(1.2);
      border-bottom-left-radius: 50%;
      border-top-right-radius: 50%;
    }
  }
}

/* laertes effect */

.effect.laertes {

  a {
    transition: all 0.2s linear 0s;

    i {
      transition: all 0.2s linear 0s;
    }

    &:hover {
      border-radius: 50%/20%;

      i {
        transform: scale(1.1);
        text-shadow: 0 0 12px rgba($basic-dark-color, 0.6);
      }
    }
  }
}
/* Reset */

// Variables
$color: #15f233;
$color-dark: black;
$speed: "0.25s";
$transition: all #{$speed} cubic-bezier(0.310, -0.105, 0.430, 1.400);

/* Main Styles */
.button {
	display: block;
	background-color: $color;
	width: 300px;
	height: 100px;
	line-height: 100px;
	margin: auto;
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0,0,0,.3);
	transition: $transition;

	span,
	.icon {
		display: block;
		height: 100%;
		text-align: center;
		position: absolute;
		top: 0;
	}

	span {
		width: 72%;
		line-height: inherit;
		font-size: 22px;
		text-transform: uppercase;
		left: 0;
		transition: $transition;

		&:after {
			content: '';
			background-color: $color-dark;
			width: 2px;
			height: 70%;
			position: absolute;
			top: 15%;
			right: -1px;
		}
	}

	.icon {

		width: 28%;
		right: 0;
		transition: $transition;

		.fa {
			font-size: 30px;
			vertical-align: middle;
			transition: $transition, height #{$speed} ease;
		}

		.fa-remove {
			height: 36px;
		}

		.fa-check {
			display: none;
		}
	}

	&.success,
	&:hover {

		span {
			left: -72%;
			opacity: 0;
		}

		.icon {
      content: '';
			width: 100%;

			.fa {
				font-size: 45px;
			}
		}
	}

	&.success {
		background-color: #27ae60;

		.icon {

			.fa-remove {
				display: none;
			}

			.fa-check {
				display: inline-block;
			}
		}
	}

	&:hover {
		opacity: .9;

		.icon .fa-remove {
			height: 46px;
		}
	}

	&:active {
		opacity: 1;
	}
}
